.hero-banner {
  width: 100%;
  height: 732px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background {
  width: 100%;
  height: 732px;
  aspect-ratio: 16/9;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: 1;
}

.hero-content {
  width: 640px;
  height: 268px;
  position: absolute;
  left: 400px;
  top: 170px;
  z-index: 2;
}

.hero-title-first {
  color: #FFF;
  font-family: var(--font-eukraine-head), sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 369px;
  height: 104px;
}

.hero-title-second {
  color: #FFF;
  font-family: var(--font-eukraine-head), -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  left: 179px;
  top: 104px;
  width: 461px;
  height: 104px;
}

.bracket-accent {
  color: #F2B202;
}

.title-text {
  color: #FFF;
}

.hero-subtitle {
  color: #FFF;
  text-align: center;
  font-family: var(--font-eukraine-head), -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  position: absolute;
  left: 134px;
  top: 248px;
  width: 372px;
  height: 50px;
}

/* Мобільний телефон (до 768px) */
@media (max-width: 768px) {
  .hero-banner {
    height: 100%;
    min-height: 1013px
  }

  .hero-background {
    min-height: 1013px;
    height: 100%;
  }

  .hero-content {
    width: 100%;
    height: auto;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-title-first {
    width: auto;
    height: auto;
    position: relative;
    left: -18%;
    top: auto;
    transform: none;
    text-align: center;
    white-space: nowrap;
  }

  .hero-title-second {
    width: auto;
    height: auto;
    position: relative;
    left: 13%;
    top: auto;
    transform: none;
    text-align: center;
    white-space: nowrap;
  }

  .hero-subtitle {
    font-size: 18px;
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    max-width: 440px;
    height: auto;
    transform: none;
    margin-top: 30px;
    text-align: center;
    padding: 0 20px;
    line-height: 140%;
  }
}

/* Малий мобільний (до 480px) */
@media (max-width: 480px) {
  .hero-banner {
    height: 590px;
    min-height: 590px;
  }

  .hero-background {
   min-height: unset
  }

  .hero-content {
    max-width: 100%;
    padding: 0 16px;
  }

  .hero-title-first {
    font-size: 48px;
    line-height: 100%;
  }

  .hero-title-second {
    font-size: 48px;
    line-height: 100%;
  }

  .hero-subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 140%;
    max-width: 310px;
    margin-top: 24px;
    padding: 0;
  }
}
