.hero-banner {
  width: 1440px;
  height: 800px;
  position: relative;
}

.hero-background {
  width: 1440px;
  height: 810px;
  aspect-ratio: 16/9;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: 1;
}

.hero-content {
  width: 640px;
  height: 298px;
  position: absolute;
  left: 400px;
  top: 240px;
  z-index: 2;
}

.hero-title-first {
  color: #FFF;
  font-family: var(--font-eukraine-head), sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 369px;
  height: 104px;
}

.hero-title-second {
  color: #FFF;
  font-family: var(--font-eukraine-head), -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  position: absolute;
  left: 179px;
  top: 104px;
  width: 461px;
  height: 104px;
}

.bracket-accent {
  color: #F2B202;
}

.title-text {
  color: #FFF;
}

.hero-subtitle {
  color: #FFF;
  text-align: center;
  font-family: var(--font-eukraine-head), -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  position: absolute;
  left: 134px;
  top: 248px;
  width: 372px;
  height: 50px;
}
