.logoWrapper {
  width: 46px;
  height: 48px;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  cursor: pointer;
  transition: opacity 0.3s;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoWrapper:hover {
  opacity: 0.8;
}

.logoDesktop {
  display: block;
  width: 100%;
  height: 100%;
}

.logoMobile {
  display: none;
  width: 100%;
  height: 100%;
}

/* Планшет */
@media (max-width: 1024px) {
  .logoWrapper {
    width: 44px;
    height: 33px;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
  }
}

/* Мобільний телефон */
@media (max-width: 768px) {
  .logoWrapper {
    width: 44px;
    height: 33px;
    top: 14px;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
  }
}

/* Малий мобільний */
@media (max-width: 480px) {
  .logoWrapper {
    width: 44px;
    height: 33px;
    top: 14px;
  }

  .logoDesktop {
    display: none;
  }

  .logoMobile {
    display: block;
  }
}
