.stone-block {
  height: 800px;
  position: relative;
  background: #F0C419;
  overflow: hidden;
}

.decorative-pattern {
  width: 480px;
  height: 358px;
  position: absolute;
  left: 980px;
  top: 220px;
  fill: #F6F3E8;
  opacity: 0.5;
}

.stone-image {
  width: 650px;
  height:670px;
  position: absolute;
  left: 635px;
  top: 130px;
  object-fit: cover;
}

.content-wrapper {
  display: flex;
  width: 468px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  left: 120px;
  top: 244px;
}

.quote-icon-stone {
  width: 32px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -124px;
}

.hero-title {
  align-self: stretch;
  color: #17120E;
  
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0;
}

.hero-subtitle1 {
  align-self: stretch;
  color: #17120E;
  
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  margin: 0;
}

.form-button {
  display: flex;
  height: 60px;
  padding: 0 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #FFF;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.form-button:hover {
  transform: scale(1.02);
}

.form-button:active {
  transform: scale(0.98);
}

.button-text {
  color: #17120E;
  
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}

.button-icon {
  width: 14px;
  height: 14px;
}
