.story-card {
  display: flex;
  width: 389px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid rgba(23, 18, 14, 0.25);
  background: #F6F3E8;
  position: relative;
  transition: background 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.story-card-active {
  background: #FFF;
  border: none;
}

.story-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  position: relative;
}

.story-card-name {
  align-self: stretch;
  color: #17120E;
  font-family: 'e-Ukraine Head', -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  position: relative;
}

.story-card-divider {
  width: 329px;
  height: 1px;
  position: relative;
}

.story-card-description {
  align-self: stretch;
  color: rgba(23, 18, 14, 0.25);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  margin: 0;
  position: relative;
  transition: color 0.3s ease;
}

.story-card-description-active {
  color: #17120E;
}

.story-card-icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
  position: relative;
  transition: fill-opacity 0.3s ease;
}
